.back {
  background: url(it2.jpg);
  background-size: cover;
  width: 1536px;
  height: 662px;
  position: relative;
}

.bottom-left {
  position: absolute;
  top: 48px;
  right: 30px;
  color: aliceblue;
}
