.color {
    background-color: tomato;
    height: 685px;
    margin: 0px;
}

.tables {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.Preprocessor {
    display: flex;
    flex-direction: column;
}

.App {
    margin: 2rem auto;
    max-width: 800px;
}

img{
  width: 500px;
  height: 500px;
  object-fit: contain;
}

.progessBar{
  height: 1.8rem;
  width: 0%;
  background-color: rgb(68, 212, 231);
  color: white;
  padding:2px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.file-upload{

  box-shadow: 2px 2px 2px 2px #ccc;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  font-size: 1rem;
}

.upbutton{
   width: 5rem;
   padding: .5rem;
   background-color: #2767e9;
   color: aliceblue;
   font-size: 1rem;
   cursor: pointer;
}

.middle{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bm {
  margin-top: 10px;
}