.color {
    background-color: tomato;
    height: 685px;
    margin: 0px;
}

.tables {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.Preprocessor {
    display: flex;
    flex-direction: column;
}